:root{
    --background-primary: rgb(22, 22, 22);
    --background-secondary: rgb(30, 30, 30);
    --color-primary:rgb(203, 203, 203);
    --color-secondary:rgb(0, 0, 0);
    --color-line: rgb(46, 46, 46);
}
